<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5_39ayjZu4enahvrH4ycx8e_On9YBmCc</string>
	<key>GCM_SENDER_ID</key>
	<string>483327660130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fota</string>
	<key>PROJECT_ID</key>
	<string>fota-3324f</string>
	<key>STORAGE_BUCKET</key>
	<string>fota-3324f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483327660130:ios:ac6db0dd86d73f04c7413b</string>
	<key>DATABASE_URL</key>
	<string>https://fota-3324f-default-rtdb.firebaseio.com</string>
</dict>
</plist>